@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: source-sans-pro, system-ui, sans-serif;
    }
  }

 
  textarea::placeholder {
    padding: 4px;
  }



  .first-item {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}